.SideContainer,.SideContainer1{
    height: 92vh;
    background: #1f1e1e;
    Overflow-y:scroll;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    
    }
    ::-webkit-scrollbar-track {
    border: 1px solid rgb(50, 187, 205);
    border-radius: 10px; 
    }
    ::-webkit-scrollbar-thumb {
    background: #3c3d3d;
    border-radius: 10px;
    box-shadow: -1px -5px 20px 20px rgb(150, 150, 206);
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #020202;
    }
  .SideContainer{
    width:245px;
  }
  .SideContainer1{
    width:95px;
    
  }
  
  .SideContainer div,.SideContainer1 div{
    color: aliceblue;
    text-align: center;
    font-size: 18px;
  }
  .SideContainer div{
    height: 40px;
  }
  
  .SideContainer1 div{
    height: 50px;
    margin-bottom: 40px;
  }
  .SideContainer div:hover,.SideContainer1 div:hover{
    background-color:rgb(63, 65, 63) ;
  }
  #Icon{
    color: rgb(136, 134, 134);
    float: left;
    margin-left: 20px;
  }
  .SideContainer1{
    display: none;
  }

  @media only screen and (max-width:1325px){
    .SideContainer{
      display: none;
    }
    .SideContainer1{
     display: block;
    }
    
   
  }
  @media only screen and (max-width:800px){
    .SideContainer1{
      display: none;
    }
    .ContentContainer{
      width: 100%;
  } 
  }